# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @openfga/backend
README.md @openfga/product @openfga/community @openfga/backend
pkg/storage/ @openfga/backend @openfga/be-storage-maintainers
