version: '3.8'
services:
  postgres:
    image: postgres:14
    container_name: postgres
    networks:
      - default
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  openfga:
    image: openfga/openfga:latest
    command: run
    container_name: openfga
    networks:
      - default
    ports:
      - "8080:8080"