services:
  migrate:
    build: .

  openfga:
    build: .
    depends_on:
      otel-collector:
        condition: service_started
    environment:
      - OPENFGA_TRACE_ENABLED=true
      - OPENFGA_TRACE_SAMPLE_RATIO=1
      - OPENFGA_TRACE_OTLP_ENDPOINT=otel-collector:4317
      - OPENFGA_METRICS_ENABLE_RPC_HISTOGRAMS=true
      - OPENFGA_DATASTORE_METRICS_ENABLED=true
      - OPENFGA_METRICS_ENABLED=true

  otel-collector:
    image: otel/opentelemetry-collector:latest
    container_name: otel-collector
    command: [ "--config=/etc/otel-collector-config.yaml" ]
    volumes:
      - "./telemetry/otel-collector-config.yaml:/etc/otel-collector-config.yaml"
    networks:
      - default

  jaeger:
    image: jaegertracing/all-in-one:1.49
    container_name: jaeger
    command: [ "--query.max-clock-skew-adjustment", "500ms" ]
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      - SPAN_STORAGE_TYPE=badger
      - BADGER_EPHEMERAL=false
      - BADGER_DIRECTORY_VALUE=/badger/data
      - BADGER_DIRECTORY_KEY=/badger/key
    volumes:
      - jaeger_data:/badger
    ports:
      - "16686:16686" # UI
    depends_on:
      - otel-collector
    networks:
      - default

  prometheus:
    image: prom/prometheus:latest
    ports:
      - 9090:9090 # UI
    depends_on:
      - otel-collector
    volumes:
      - ./telemetry/prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'

  grafana:
    image: grafana/grafana
    ports:
      - 3001:3000 # UI
    restart: unless-stopped
    depends_on:
      prometheus:
        condition: service_started
    volumes:
      - ./telemetry/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./telemetry/grafana/provisioning/dashboards/dashboards.yml:/etc/grafana/provisioning/dashboards/main.yaml
      - ./telemetry/grafana/dashboards:/etc/grafana/dashboards
      - grafana_data:/var/lib/grafana

volumes:
  prometheus_data:
  grafana_data:
  jaeger_data: