name: Check Markdown links

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 9 * * 1" # At 09:00 on Monday

permissions:
  contents: read

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: gaurav-nelson/github-action-markdown-link-check@3c3b66f1f7d0900e37b71eca45b63ea9eedfce31 # v1.0.17
        with:
          use-verbose-mode: 'yes'
          folder-path: 'docs/'
          file-path: './README.md, ./CHANGELOG.md'
          config-file: '.github/.mlc_config.json'
