name: Snyk
on:
  push:
    branches:
      - main
      - master

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run Snyk to monitor for vulnerabilities
        uses: snyk/actions/golang@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --org=auth0-fga --project-name=openfga --all-projects
          command: monitor

      - name: Run Snyk to test for vulnerabilities
        uses: snyk/actions/golang@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --org=auth0-fga --project-name=openfga --all-projects
          command: test